*{
	margin:0px;
	padding:0px;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
}
a,a:hover{
	text-decoration:none;
}
/*header section start here*/
.header-section{
	width:100%;
	background:#290000;
}
/*top-header*/
.header-section .top-header{
	width:100%;
}
.header-section .top-header .bg-light{
	background:transparent!important;

} 
.header-section .top-header .navbar .navbar-nav{
	margin-left:100px;
}
.header-section .top-header .navbar .navbar-nav .nav-link{
	color:#fff;
	font-size:16px;
	font-weight:700px;
	text-transform:uppercase;
	margin-right:20px;
	transition:.6s;

	
	
}
.header-section .top-header .navbar .navbar-nav .nav-link:hover,.header-section .top-header .navbar .navbar-nav .nav-link:focus{
	transform:scale(1.3);
	text-shadow:1px 1px 10px #fff;
}

/*banner section*/
.banner{
	width:100%;
}
.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;

}
.navbar-toggler {
    padding: .25rem 0.5rem;
    font-size: 1rem;
   box-shadow:none;
   text-align:center;

}
.banner .carousel-inner .carousel-caption h2{
	margin-top:-400px;
	padding:15px;
	background:rgba(255,0,255,.5);
}
.banner .carousel-inner .carousel-caption p{
	
	padding:15px;
	background:rgba(100,0,255,.5);
}

/*header section ends here*/

/*service section staer here*/
.about-us{
	width:100%;
	background:#660000;
}
.about-us .inner-about-us{
	width:100%;
	background:#fff;
	margin:40px 0px 0px;
	text-align:center;
	transition:.5s;
}
.about-us .inner-about-us img{
	margin:40px 0px 60px;
	width:200px;
	height:170px;
	opacity:.5;
}
.about-us .inner-about-us h5{
	color:#333333;
	font-size:25px;
	font-weight:700;
	margin:0px 0px 30px;

}
.about-us .inner-about-us p{
	color:#333333;
	font-size:14px;
	font-weight:600;
	padding:0px 20px 30px;

}
.about-us .inner-about-us:hover{
	transform:scale(1.1);
	box-shadow:2px 3px 10px #0fffff;
	margin-bottom:10px;
}
.about-us .inner-about-us:hover img{
	opacity:1;
}
/*service section ends here*/

/*latest work start here*/
.latest-work{
	width:100%;
	background:#660000;
	margin:0px 0px 0px;
}
.latest-work .header{
	width:100%;
	text-align:center;
	padding:40px 0px;

	

}
.latest-work .header h2{
	margin:50px 0px 0px;
	color:#fff;
	font-size:40px;
	font-weight:700;
	text-transform:uppercase;
	text-align:center;

}

.latest-work  .inner-latest-work{
	position:relative;
	border:4px solid #fff;
}
.latest-work  .inner-latest-work img{
	width:100%;
	height:250px;

}
.latest-work  .inner-latest-work p{
	width:100%;
	position:absolute;
	background:#fff;
	color:#000;
	font-size:14px;
	font-weight:700;
	bottom:-17px;
	text-align:center;
	padding:10px 0px;

}
.latest-work .margin-top{
	margin-bottom:30px;
}

/*latest work ends here*/

/*conatct us start here*/
.footer{
	width:100%;
	background:#303030;
	padding:70px 0px;
}
.footer .From-The-Blog h4{
	color:#fff;
	font-size:24px;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:20px;
}
.footer .From-The-Blog a{
	color:#76c38f;
	font-size:18px;
	font-weight:700;
	text-transform:capitalize;
	letter-spacing:1px;
}
.footer .From-The-Blog p{
	color:#fff;
	font-size:14px;
	font-weight:500;
	text-transform:capitalize;
	letter-spacing:1px;
}
.footer .From-The-Blog p span{
	color:#76c38f;
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
}
.footer .From-The-Blog .read-more{
	color:#fff;
	font-size:14px;
	font-weight:500;

}
.footer .From-The-Blog .read-more:hover{
	color:#00ffff;
}
.footer ..footer .From-The-Blog{
	margin-bottom:20px;
}
 h4{
	color:#fff;
	font-size:24px;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:20px;
}
.footer .Quick-Links p{
	color:#fff;
	font-size:12px;
	font-weight:500;
	text-transform:capitalize;
	letter-spacing:1px;
}
.footer .Quick-Links p:hover{
	color:#00ffff;
}
.footer .Quick-Links hr{
	color:#fff;
}
.footer .Quick-Links h4{
	color:#fff;
	font-size:24px;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:20px;
}
.footer ..footer .From-The-Blog{
	margin-bottom:20px;
}
 p{
	color:#fff;
	font-size:14px;
	font-weight:500;
	text-transform:capitalize;
	letter-spacing:1px;
}
.footer .Latest-Tweets a{
	color:#00ffff;
	font-size:14px;
	font-weight:500;
	text-transform:capitalize;
	letter-spacing:1px;
}
.footer .Contact-Us h4{
	color:#fff;
	font-size:24px;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:20px;
}
.footer .Contact-Us .form-group .form-control{
	margin:0px 0px 5px;
	border:1px solid #000;
	background:#000;
}
.footer .Contact-Us .form-group .message{
	padding:10px 10px 50px;
}
.footer .Contact-Us .form-group  .btn-info{
	color:#fff;
	padding:5px 20px;
	font-size:14px;
	letter-spacing:2px;
	background:#0eef57;
	border:1px solid #0eef57;

}
.footer .Contact-Us .form-group  .btn-info:hover,.footer .Contact-Us .form-group  .btn-info:focus{
	background:#660000;
	border:1px solid #660000;
	box-shadow:0px;
}

/*copyright*/
.copyright{
	width:100%;
	margin-top:50px;
}
.copyright .copyright-section p{
	color:#fff;
	font-size:14px;
	font-weight:500;
	letter-spacing:1px;
}
.copyright .socials a{
	border:1px solid #FFF;
	margin-right:10px;
	padding:10px;
	border-radius:100%;
	color:#fff;
	transition:.5s;
	font-size:16px;
}
.copyright .socials a:nth-child(1):hover{
	background:#1B1464;
}
.copyright .socials a:nth-child(2):hover{
	background:#0652DD;
}
.copyright .socials a:nth-child(3):hover{
	background:#B53471;
}
.copyright .socials a:nth-child(4):hover{
	background:#12CBC4;
}
.copyright .socials a:nth-child(5):hover{
	background:#EE5A24;
}
/*contact us ends here*/